<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

</head>

<body>
    <div class="card">
        <h4 class="card-header">Register</h4>
        <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="fullName">First Name And Last Name</label>
                    <input id="name" type="text" formControlName="fullName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.fullName.errors }" />
                    <div *ngIf="submitted && f.fullName.errors" class="invalid-feedback">
                        <div *ngIf="f.fullName.errors.required">
                            First and Last name are required.
                        </div>
                        <div *ngIf="f.fullName.errors.pattern">
                            Enter two names.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input id="username" type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Username is required</div>
                        <div *ngIf="f.username.errors.pattern">Username is invalid. Should be between 4 and 15 characters, and contain no whitespaces.</div>
                    </div>

                </div>
                <div class="form-group">
                    <label for="pass">Password</label>
                    <input id="password" type="password" formControlName="pass" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.pass.errors }" />
                    <div *ngIf="submitted && f.pass.errors" class="invalid-feedback">
                        <div *ngIf="f.pass.errors.required">Password is required.</div>
                        <div *ngIf="f.pass.errors.minlength">
                            Password must be at least 6 characters.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="location">Location</label>
                    <input id="location" type="text" formControlName="location" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.location.errors }" />
                    <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
                        <div *ngIf="f.location.errors.required">Location is required.</div>
                        <div *ngIf="f.location.errors.minlength">
                            Location must be at least 6 characters.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="age">Age</label>
                    <input id="age" type="number" onkeypress="return event.charCode >= 48" min="1" formControlName="age" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.age.errors }" />
                    <div *ngIf="submitted && f.age.errors" class="invalid-feedback">
                        <div *ngIf="f.age.errors.required">Age is required.</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="sex">Gender</label>
                    <div>
                        <input id="male" type="radio" class="custom-control-inline" formControlName="sex" [ngClass]="{ 'is-invalid': submitted && f.sex.errors }" value="MALE" />
                        <label class="custom-control-inline" for="male">Male</label>
                        <input id="female" type="radio" class="custom-control-inline" formControlName="sex" [ngClass]="{ 'is-invalid': submitted && f.sex.errors }" value="FEMALE" />
                        <label class="custom-control-inline" for="female">Female</label>
                        <input id="other" type="radio" class="custom-control-inline" formControlName="sex" [ngClass]="{ 'is-invalid': submitted && f.sex.errors }" value="OTHER" />
                        <label class="custom-control-inline" for="other">Other</label>

                        <div *ngIf="submitted && f.sex.errors" class="invalid-feedback">
                            <div *ngIf="f.sex.errors.required">Gender is required.</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button id="register" [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Register</button>
                    <button routerLink="/" class="btn btn-primary">Cancel</button>
                    <div style="display: block;" *ngIf="hasError==true" class="invalid-feedback">
                        <div *ngIf="hasError==true">Username is taken</div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>