.active-cyan-4 input[type=text]:focus:not([readonly]) {
    border: 1px solid #4dd0e1;
    box-shadow: 0 0 0 1px #4dd0e1;
}

input::placeholder {
    color: white;
    opacity: 1;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

body {
    padding-top: 80px;
}

.card-img-wrap {
    overflow: hidden;
    position: relative;
}

.card-text {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

a:after img {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.3);
    opacity: 0;
    transition: opacity .25s;
}

.card-img-wrap img {
    transition: transform .25s;
    width: 100%;
}

a:hover img {
    transform: scale(1.2);
}

a:hover:after {
    opacity: 1;
}

.progress {
    background-color: darkgray;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#progress-bar-id[aria-valuenow="0"] {
    color: gray;
    min-width: 3%;
    background: transparent;
    box-shadow: none;
}

.progress-bar .progress-bar-text {
    position: absolute;
    text-shadow: 0px 0px 4px #444;
}