<html lang="en">

<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

</head>

<body>
    <div class="p-4">
        <div class="active-cyan-3 active-cyan-4 mb-4">
            <input class="form-control" style="background-color: rgba(0, 0, 0, 0.808); color: white;" type="text" name="search" [(ngModel)]="searchStr" autocomplete="off" placeholder="Search by charity name..">
        </div>
        <div class="container-fluid">
            <div class="row">
                <div *ngFor="let charity of charities | nameFilter: searchStr" class="col-lg-3">
                    <a style="text-decoration: none;" routerLink="view/{{charity.id}}">
                        <div class="card text-white bg-dark mb-3 border-secondary mb-3 ">
                            <div class="card-img-wrap ">
                                <img class="card-img-top " src='{{ "assets/" + charity.thumbnailName}}' alt="Image error ">
                            </div>
                            <div class="card-block ">
                                <div class="card-body ">
                                    <h3 class="card-title font-weight-bold text-center ">
                                        {{ charity.name }}
                                    </h3>
                                    <div class="card-text ">
                                        <p class="card-text text-center ">{{charity.description}}</p>
                                    </div>
                                    <div *ngIf="charity.moneyRequired!=null" class="card-body">
                                        <div class="progress" style="height: 30px;">
                                            <div class="progress-bar bg-success" id="progress-bar-id" role="progressbar" style="height: 100%; font-size: 1rem; color: white; min-width: 3%; background: transparent; box-shadow: none;" [style.width]="(charity.moneyRaised / charity.moneyRequired) * 100 + '%'"
                                                aria-valuemin="0" aria-valuemax="100"><span class="progress-bar-text">{{ charity.moneyRaised == 0 ? 0: charity.moneyRaised | number : '1.2-2' }} $</span></div>
                                        </div>
                                        <p>Money Required: {{ charity.moneyRequired | number : '1.2-2'}}$</p>
                                    </div>
                                    <div *ngIf="charity.volunteersRequired!=null" class="card-body">
                                        <div class="progress" style="height: 30px;">
                                            <div class="progress-bar bg-info" id="progress-bar-id" role="progressbar" style="height: 100%; font-size: 1rem; color: white; min-width: 3%; background: transparent; box-shadow: none;" [style.width]="(charity.volunteersGathered / charity.volunteersRequired) * 100 + '%'"
                                                aria-valuemin="0" aria-valuemax="100"><span class="progress-bar-text">{{charity.volunteersGathered == 0 ? 0 : charity.volunteersGathered}} people</span></div>
                                        </div>
                                        <p>Volunteers Required: {{ charity.volunteersRequired }} people</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>