header {
    padding: 156px 0 100px;
}

section {
    padding: 150px 0;
}

.masthead {
    height: 50vh;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

a.btn-facebook {
    font-family: Lucida Grande, Helvetica Neue, Helvetica, Arial, sans-serif;
    display: inline-block;
    font-size: 14px;
    padding: 20px 20px 20px 20px;
    background: #3A5A97;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 20, .4);
    text-decoration: none;
    line-height: 1;
    position: relative;
    border-radius: 5px;
}

a.twitter-share-button {
    font-family: Lucida Grande, Helvetica Neue, Helvetica, Arial, sans-serif;
    display: inline-block;
    font-size: 14px;
    padding: 20px 20px 20px 20px;
    background: #00acee;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 20, .4);
    text-decoration: none;
    line-height: 1;
    position: relative;
    border-radius: 5px;
}

.progress {
    background-color: darkgray;
    -webkit-box-shadow: none;
}

.progress-bar .progress-bar-text {
    position: absolute;
    text-shadow: 0px 0px 4px #444;
}