<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>

<body>
    <header class="masthead" [ngStyle]="{background: 'url(./assets/' + charity.thumbnailName + ')' , 'background-repeat' : 'no-repeat', 'height': '50vh', 'min-height': '500px', 'background-size' : 'cover', 'background-position' : 'center'}">
        <div class=" container h-100 ">
        </div>
    </header>

    <section class="py-5 ">
        <div class="container ">
            <h1 class="font-weight-light ">{{ charity.name }}</h1>
        </div>
    </section>

    <section class="py-5" style="float: right;">
        <div class="share-btn">
            <a class="btn-facebook" href="https://www.facebook.com/sharer/sharer.php?u=#url" target="_blank"><i class="fab fa-facebook-square"></i> Facebook</a>
            <a class="twitter-share-button" [href]="['http://twitter.com/share?text='+charity.name]" routerLinkActive="router-link-active" target="_blank">Twitter</a>
        </div>
    </section>


    <section class="py-sm-0">
        <div class="container ">
            <h3 class="font-weight-light ">Description</h3>
            <p>{{ charity.description }}</p>
        </div>
    </section>

    <section *ngIf="withMoney" class="py-5">
        <div class="container">
            <h4 class="font-weight-light">Money Raised</h4>
            <div class="progress" style="height: 40px;">
                <div class="progress-bar bg-success" id="brogress-bar-text" role="progressbar" style="height: 100%; font-size: 1rem; color: white; min-width: 3%; background: transparent; box-shadow: none;" [style.width]="moneyProgress + '%'" aria-valuemin="0" aria-valuemax="100"><span class="progress-bar-text">{{ charity.moneyRaised | number : '1.2-2' }} $ </span></div>
            </div>
            <div class="input-group">
                <div class="input-group-append">
                    <h5 class="font-weight-light">Goal: {{charity.moneyRequired | number : '1.2-2'}} $ </h5>
                </div>
                <div style="flex-flow: wrap;"></div>
                <input *ngIf="isLoggedIn && charity.moneyRaised < charity.moneyRequired " style="height: 100%;" [(ngModel)]="amount" type="number" onkeypress="return event.charCode >= 48" min="1" max="{{charity.moneyRequired - charity.moneyRaised}}" class="form-control input-group-append"
                    [placeholder]="'Suggestion based on previous donations: ' +suggestedAmount+ ' $'" aria-label="Suggested Amount" aria-describedby="basic-addon2">
                <div *ngIf="isLoggedIn && charity.moneyRaised < charity.moneyRequired" class="input-group-append">
                    <button (click)="donate(amount)" class="btn btn-outline-success input-group-append" type="button">Donate</button>
                </div>
            </div>
            <p *ngIf="!isLoggedIn" style="float: right;" class="font-weight-light">If you want to donate, you have to login first.</p>
        </div>
    </section>

    <section *ngIf="isLoggedIn && isOwner" style="float: right;">
        <button class="btn btn-warning" routerLink="../../edit-charity/{{charity.id}}">Edit Charity</button>
    </section>

    <section *ngIf="isLoggedIn && isOwner" style="float: right;">
        <button class="btn btn-danger" (click)="deleteCharity()">Delete Charity</button>
    </section>
    <section *ngIf="withVolunteers" class="py-5">
        <div class="container">
            <h4 class="font-weight-light">Volunteers Gathered</h4>
            <div class="progress" style="height: 40px;">
                <div class="progress-bar bg-info" role="progressbar" style="height: 100%; font-size: 1rem; color: white; min-width: 3%; background: transparent; box-shadow: none;" [style.width]="volunteersProgress + '%'" aria-valuemin="0" aria-valuemax="100"><span class="progress-bar-text">{{ charity.volunteersGathered }} people </span></div>
            </div>
            <div>
                <button ng-cloak *ngIf="isLoggedIn && !isVolunteering" (click)="volunteer()" type="button" style="float: right;" class="btn btn-outline-info">Volunteer</button>
                <h5 class="font-weight-light">Goal: {{charity.volunteersRequired}} people</h5>
                <p *ngIf="!isLoggedIn" style="float: right;" class="font-weight-light">If you want to volunteer, you have to login first.</p>
                <p ng-cloak *ngIf="isLoggedIn && isVolunteering" style="float: right;" class="font-weight-light">You are participating</p>
            </div>
        </div>
    </section>

</body>