* {
    box-sizing: border-box;
}

body {
    padding-top: 90px;
}

#sticky-sidebar {
    position: fixed;
    max-width: 20%;
    padding-top: 80px;
}

li {
    display: inline-block;
    *display: inline;
    /*IE7*/
    *zoom: 1;
    /*IE7*/
    margin-right: 10px;
}

.card {
    width: 100%;
}

p {
    font-size: x-large;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#charity-info a:hover {
    background-color: cornflowerblue;
}