<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div id="sticky-sidebar">
                    <div class="sticky-top">
                        <div class="card text-white bg-dark align-items-center" style="width: 30rem;">
                            <div class="card-body">
                                <h1 class="card-title font-weight-bold">{{ user.fullName }}</h1>
                            </div>
                            <ul class="list-group card-text list-group-flush">
                                <li class="list-group-item bg-dark font-weight-bold">
                                    <h3>Username: {{ user.username }}</h3>
                                </li>
                                <li class="list-group-item bg-dark font-weight-bold">
                                    <h3>Location: {{ user.location }}</h3>
                                </li>
                                <li class="list-group-item bg-dark font-weight-bold">
                                    <h3>Gender: {{ user.sex }}</h3>
                                </li>
                                <li class="list-group-item bg-dark font-weight-bold">
                                    <h3>Age: {{ user.age }}</h3>
                                </li>
                            </ul>
                            <div *ngIf="charities.length != 0" class="card-body w-75">
                                <h4 class="card-title text-center font-weight-bold">Created Charities</h4>
                                <ul class="list-group list-group-flush w-100 align-items-stretch">
                                    <a id="charity-info" class="list-group-item text-center list-group-item-action list-group-item-dark font-weight-light" style="color: black;" *ngIf="charities.length === 0">You dont have any charities yet.</a>
                                    <a id="charity-info" class="list-group-item list-group-item-action text-center d-inline-block list-group-item-dark font-weight-light" [routerLink]="['/view', charity.id]" routerLinkActive="router-link-active" *ngFor="let charity of charities">
                                        <h3>{{ charity.name }}</h3>
                                    </a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6" id="main">
                <h1>Activity Log </h1>
                <ul class="list-group list-group-flush w-auto align-items-stretch">
                    <li class="list-group-item list-group-item-dark font-weight-light" *ngFor="let event of events">
                        <p style="padding-top: 1rem;" *ngIf="event.eventType == 'CREATE_CHARITY' && event.charity != null">You created charity: <a [routerLink]="['/view', event.charity.id]" routerLinkActive="router-link-active">{{event.charity.name}}</a> on {{ event.eventTime | date:'medium' }}.</p>
                        <p style="padding-top: 1rem;" *ngIf="event.eventType == 'CREATE_CHARITY' && event.charity == null">You created charity: {{event.deletedCharity}} on {{ event.eventTime | date:'medium' }}.</p>
                        <p style="padding-top: 1rem;" *ngIf="event.eventType == 'CREATE_USER'">You made an account on {{ event.eventTime | date:'medium' }}.</p>
                        <p style="padding-top: 1rem;" *ngIf="event.eventType == 'DONATE_TO_CHARITY' && event.charity == null">You donated: {{ event.moneyDonated | currency }} to {{ event.deletedCharity }} on {{ event.eventTime | date:'medium' }}.</p>
                        <p style="padding-top: 1rem;" *ngIf="event.eventType == 'DONATE_TO_CHARITY' && event.charity != null">You donated: {{ event.moneyDonated | currency }} to <a [routerLink]="['/view', event.charity.id]" routerLinkActive="router-link-active">{{ event.charity.name }}</a> on {{ event.eventTime | date:'medium' }}.</p>
                        <p style="padding-top: 1rem;" *ngIf="event.eventType == 'VOLUNTEERED_IN_CHARITY' && event.charity == null">You volunteered in: {{ event.deletedCharity }} on {{ event.eventTime | date:'medium' }}.</p>
                        <p style="padding-top: 1rem;" *ngIf="event.eventType == 'VOLUNTEERED_IN_CHARITY' && event.charity != null">You volunteered in: <a [routerLink]="['/view', event.charity.id]" routerLinkActive="router-link-active">{{ event.charity.name }}</a> on {{ event.eventTime | date:'medium' }}.</p>
                        <p style="padding-top: 1rem;" *ngIf="event.eventType == 'UPDATE_CHARITY' && event.charity == null">You updated: {{ event.deletedCharity }} on {{ event.eventTime | date:'medium' }}.</p>
                        <p style="padding-top: 1rem;" *ngIf="event.eventType == 'UPDATE_CHARITY' && event.charity != null">You updated: <a [routerLink]="['/view', event.charity.id]" routerLinkActive="router-link-active">{{ event.charity.name }}</a> on {{ event.eventTime | date:'medium' }}.</p>
                        <p style="padding-top: 1rem;" *ngIf="event.eventType == 'DELETE_CHARITY'">You deleted: {{ event.deletedCharity }} on {{ event.eventTime | date:'medium' }}.</p>
                        <p style="padding-top: 1rem;" *ngIf="event.eventType == 'REMOVED_FROM_CHARITY_UPDATE' && event.charity == null">You were removed as volunteer from: {{ event.deletedCharity }} on {{ event.eventTime | date:'medium' }} because the Charity was updated and you were no longer needed.</p>
                        <p style="padding-top: 1rem;" *ngIf="event.eventType == 'REMOVED_FROM_CHARITY_UPDATE' && event.charity != null">You were removed as volunteer from: <a [routerLink]="['/view', event.charity.id]" routerLinkActive="router-link-active">{{ event.charity.name }}</a> on {{ event.eventTime | date:'medium' }} because the Charity was updated and you
                            were no longer needed.
                        </p>
                        <p style="padding-top: 1rem;" *ngIf="event.eventType == 'REMOVED_FROM_CHARITY_DELETE' && event.charity == null">You were removed as volunteer from: {{ event.deletedCharity }} on {{ event.eventTime | date:'medium' }} because the Charity was deleted.</p>
                        <p style="padding-top: 1rem;" *ngIf="event.eventType == 'MONEY_REFUND_UPDATE' && event.charity == null">You were refunded: {{ event.moneyDonated | currency }} from {{ event.deletedCharity }} on {{ event.eventTime | date:'medium' }} because the Charity was updated and they were no longer needed.</p>
                        <p style="padding-top: 1rem; " *ngIf="event.eventType == 'MONEY_REFUND_UPDATE' && event.charity != null">You were refunded: {{ event.moneyDonated | currency }} from <a [routerLink]="['/view', event.charity.id]" routerLinkActive="router-link-active">{{ event.charity.name }}</a> on {{ event.eventTime | date:'medium' }} because the Charity
                            was updated and they were no longer needed.</p>
                        <p style="padding-top: 1rem;" *ngIf="event.eventType == 'MONEY_REFUND_DELETE' && event.charity == null">You were refunded: {{ event.moneyDonated | currency }} from {{ event.deletedCharity }} on {{ event.eventTime | date:'medium' }} because the Charity was deleted and they were no longer needed.</p>
                        <p style="padding-top: 1rem;" *ngIf="event.eventType == 'MONEY_MET'">Charity: <a [routerLink]="['/view', event.charity.id]" routerLinkActive="router-link-active">{{ event.charity.name }}</a> gathered all the money they needed on {{ event.eventTime | date:'medium' }}.</p>
                        <p style="padding-top: 1rem;" *ngIf="event.eventType == 'VOLUNTEERS_MET'">Charity: <a [routerLink]="['/view', event.charity.id]" routerLinkActive="router-link-active">{{ event.charity.name }}</a> gathered all the volunteers they needed on {{ event.eventTime | date:'medium' }}.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
<script src="/home/mctakeout/Documents/network-of-giving/frontend/network-of-giving-app/node_modules/share-buttons/dist/share-buttons.js"></script>