<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>

<body>
    <div class="card">
        <h4 class="card-header">Edit Charity</h4>
        <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" formControlName="name" [(ngModel)]='charity.name' class="form-control" value="{{charity.name}}" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                        <div *ngIf="f.name.errors.required">
                            Name is required
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea type="text" rows="4" [(ngModel)]='charity.description' formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
                    <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                        <div *ngIf="f.description.errors.required">Description is required</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="thumbnail">Thumbnail</label>
                    <div class="input-group mb-3">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" multiple id="importFile" (change)="onFileChange($event.target.files)">
                            <label class="custom-file-label" #labelImport for="thumbnail"><i class="fas fa-search"></i></label>
                        </div>
                    </div>
                    <div *ngIf="thumbnailHasError" class="text-danger">
                        <div *ngIf="thumbnailHasError "><small>Thumbnail is required</small></div>
                    </div>
                </div>

                <div *ngIf="f.charityType.value == 'MONEY_CHARITY' || f.charityType.value == 'MONEY_AND_VOLUNTEERS_CHARITY' " class="form-group">
                    <label for="moneyRequired">Money Required</label>
                    <input type="number" onkeypress="return event.charCode >= 48" min="1" [(ngModel)]='charity.moneyRequired' formControlName="moneyRequired" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.moneyRequired.errors }" />
                    <div *ngIf="submitted && f.moneyRequired.errors" class="invalid-feedback">
                        <div *ngIf="f.moneyRequired.errors.required">Money are required</div>
                    </div>
                </div>

                <div *ngIf="f.charityType.value == 'VOLUNTEER_CHARITY' || f.charityType.value == 'MONEY_AND_VOLUNTEERS_CHARITY'" class="form-group">
                    <label for="volunteersRequired">Volunteers Required</label>
                    <input type="number" onkeypress="return event.charCode >= 48" min="1" [(ngModel)]='charity.volunteersRequired' formControlName="volunteersRequired" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.volunteersRequired.errors }" />
                    <div *ngIf="submitted && f.volunteersRequired.errors" class="invalid-feedback">
                        <div *ngIf="f.volunteersRequired.errors.required">Volunteers are required</div>
                    </div>
                </div>


                <div class="form-group ">
                    <button [disabled]="loading " class="btn btn-primary ">
                <span
            *ngIf="loading "
            class="spinner-border spinner-border-sm mr-1 "></span>
          Upadate
        </button>
                    <button routerLink="../../view/{{charity.id}}" class="btn btn-primary ">
          Cancel
        </button>
                    <div style="display: block; " *ngIf="hasError==true " class="invalid-feedback ">
                        <div *ngIf="hasError==true ">Charity name is taken</div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>