<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
</head>

<body>
    <nav class="navbar navbar-toggleable-md fixed-top navbar-inverse bg-inverse">
        <a id="title" class="navbar-brand active" routerLink="">{{title}}</a>
        <div class="collapse navbar-collapse ">
            <ul class="navbar-nav mr-auto ">
                <li class="nav-item active ">
                    <a class="nav-link " *ngIf="user " routerLink="create-charity">Create Charity</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto ">
                <li id="login" class="nav-item active "><a class="nav-link " *ngIf="user==null" routerLink="/account/login">Login</a></li>
                <li id="hello-btn" class="nav-item active "><a class=" nav-link " *ngIf="user" routerLink="/user/{{user.id}}">Hello, {{ user.fullName }} !</a></li>
                <li id="logout" class="nav-item active "><a routerLink="/" class="nav-link " *ngIf="user " (click)="logout() ">Logout</a></li>
            </ul>
        </div>
    </nav>



    <!-- main app container -->

    <router-outlet></router-outlet>

</body>