/* You can add global styles to this file, and also import other style files */

a {
    cursor: pointer;
}

.app-container {
    min-height: 320px;
    overflow: hidden;
}

.nav-link {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
}

.navbar {
    min-height: 80px;
}